/* estilos_tabla.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #007BFF;
    text-align: center;
    position: relative;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-container a {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button-container a:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

th, td {
    padding: 12px 15px;
    width: 35%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

thead {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

table {
    display: block;
    max-height: 600px;
    overflow-x: auto;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}
canvas {
    max-width: 1000px;
    width: 80%;
    margin: 20px auto;
}
